[submodule "bin/cdd"]
	path = bin/cdd
	url = git@github.com:unusedPhD/cdd.git
[submodule "irssi/weed"]
	path = irssi/weed
	url = git@github.com:ronilaukkarinen/weed.git
[submodule "fonts/powerline"]
	path = fonts/powerline
	url = git@github.com:powerline/fonts.git
[submodule "sublimetext/Packages/Bro"]
	path = sublimetext/Packages/Bro
	url = https://github.com/bro/bro-sublime.git
